.App {
  text-align: center;
}

.apple {
  position: relative;
  bottom: 0;
  animation-duration: 4s;
}

.apple-drop {
  position: relative;
  bottom: 0;
  animation-name: drop;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

@keyframes drop {
  from {
    position: relative;
    bottom: 0;
  }
  to {
    position: relative;
    bottom: -100px;
  }
}